@import "minima";

code {
    font-family: 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Ubuntu Mono', monospace;
}

.language-rust {
    .highlight {
        .nd {
            font-weight: bold;
            color: #700;
        }
    }
}
